  body {
    background-color: #E3FDFD;
  }

  hr {
    border-style: dotted none none;
    border-color: #71c9ce;
    border-width: 5px;
    width: 10%;
  }

  h1{
    color: #2b2e4a;
    text-decoration: underline #2b2e4a;
  }

  h3 {
    color: #34656d;
  }
